version: "3.8"

services:
  localstack:
    container_name: localstack_main
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      # Adicionei ",logs" e ",iam" (útil para permissões) na lista abaixo
      - SERVICES=lambda,dynamodb,sns,apigateway,cloudformation,sts,logs,iam
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "./volume:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"